.content-block {
	display: flex;
	flex-direction: column;
	width: 50vw;
}

.certificates {
	display: flex;
	max-height: 6em;
}

.certificates > div {
	max-width: 5em;
	margin: .5em;
}

.social {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 3em;
	max-height: 3.5em;
	margin-bottom: .7em;
	margin-top: .7em;
	border-radius: 10.25px;
	background: linear-gradient(90deg, #1e2937 10%, #fff 100%, #ccc);
}

.social > * {
	max-width: 3.5em;
	margin-left: .5em;
	margin-right: .5em;
}

.github:hover {
	background-color: var(--main-text-color);
	border-radius: 50%;
	border: 3px solid black;
}

.linkedin:hover {
	fill: royalblue;
	border: 3px solid royalblue;
	background-color: var(--main-text-color);
	border-radius: 2px;
}

.telegram:hover {
	fill: royalblue;
	background-color: var(--main-text-color);
	border-radius: 50%;
	border: 3px solid royalblue;
}

.gmail:hover {
	fill: indianred;
	background-color: var(--main-text-color);
	border-radius: 2px;
	border: 3px solid indianred;
}

.text > *, .text > * > * {
	height: auto;
}

h1 {
	color: #333;
}

hr {
	border: 0;
	height: 1px;
	background: var(--main-text-color);
	margin: 20px 0;
}

p {
	margin-bottom: 15px;
	font-family: Arial, sans-serif;
	line-height: 1.6;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
