.container {
	display: flex;
}

.user_dashboard_carpet {
	display: flex;
	width: 100%;
	padding: 0 18vw 0 13vw;
}

.cloud-widgets {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 1rem;
	padding: 1em;
	border: 1px solid var(--block-border-color);
	border-radius: 10px;
}

.widgets-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: flex-start;
}

.cloud-top {
	color: var(--main-text-color);
	margin-bottom: 1em;
}

.cloud-widget-item {
	flex: 0 0 calc(33.33% - 1rem);
	min-width: 250px;
	display: flex;
	flex-direction: column;
	background-color: transparent;
	border: 1px solid var(--block-border-color);
	border-radius: 10px;
	padding: 1em;
	gap: 0.5em;
	box-sizing: border-box;
}

@media (max-width: 1200px) {
	.widget-item {
		flex: 0 0 calc(50% - 1rem);
	}
}

@media (max-width: 768px) {
	.widget-item {
		flex: 0 0 100%;
	}
}
