.content-block {
	display: flex;
	flex-direction: column;
	width: 50vw;
}

.skill_block > span {
	border-radius: 10px;
	background: linear-gradient(225deg, #1e2937 -5%, #fff 85%, #ccc);
}

.ck-powered-by-balloon {
	display: none!important;
}

div.ck.ck-content.ck-editor__editable {
	padding-left: 25px;
}
